<div class="mastodon-share-dialog">
  <p><b>{{ phrases.which_instance }}</b></p>
  <p>{{ phrases.mastodon_share_line_1 }}</p>
  <p>{{ phrases.mastodon_share_line_2 }}</p>
  <p>{{ phrases.example }}: <code>{{ phrases.sample_instance }}</code></p>
  <form class="mastodon-share-form">
    <input type="text" class="instance-url-input" />
    <input class="share-form-submit" type="submit" value="{{ phrases.share }}" disabled />
  </form>
  <p><span class="close-link" tabindex="0">{{ phrases.close_window }}</span></p>
</div>