{%- set previousPost = collections.publishedPosts | getPreviousCollectionItem(page) -%}	
{%- set nextPost = collections.publishedPosts | getNextCollectionItem(page) -%}	
{%- set defaultLanguage = siteConfig.site.language -%}

<div class="post-navigation">
  <ul>
    <li>
      {% if previousPost.url %}
      <a href="{{ previousPost.url }}"{% if previousPost.data.language !== defaultLanguage %}hreflang="{{ previousPost.data.language }}"{% endif %}>
        <span class="headline">{{ phrases.left_arrow_symbol }} {{ phrases.newer_article }}</span>
        <span class="title">{{ previousPost.data.title }} {% if previousPost.data.language !== defaultLanguage %}{% include "svg/translation.svg" %}{% endif %}</span>
      </a>
      {% endif %}
    </li>
    <li>
      {% if nextPost.url %}
      <a href="{{ nextPost.url }}"{% if nextPost.data.language !== defaultLanguage %}hreflang="{{ nextPost.data.language }}"{% endif %}>
        <span class="headline">{{ phrases.older_article }} {{ phrases.right_arrow_symbol }}</span>
        <span class="title">{{ nextPost.data.title }} {% if nextPost.data.language !== defaultLanguage %}{% include "svg/translation.svg" %}{% endif %}</span>
      </a>
      {% endif %}
    </li>
  </ul>
</div>
