---
eleventyExcludeFromCollections: true
permalink: /.well-known/security.txt
---

{%- set security = siteConfig.security -%}
{%- for contactLine in security.contact -%}
Contact: {{ contactLine }}
{% endfor -%}
Expires: {{ security.expires }}
Encryption: {{ security.encryption }}
Preferred-Languages: {{ security.preferredLanguages }}

# created with https://securitytxt.org/