.single-article {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin: 4rem 0 1rem;
  }

  .top-image {
    margin-bottom: 3rem;

    .credit {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
}
