.reading-progress-bar {
  background-color: var(--link-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  z-index: 1000;

  @include reducedMotion {
    display: none;
  }
}
