.top-meta {
  margin: 0 0 3rem;
  font-size: 0.875rem;
  display: flex;
  font-family: var(--arial-font-family);
  color: var(--top-meta-color);

  [data-tooltip]::after {
    min-width: 8rem;
  }

  @include mobile {
    margin-top: 0.5rem;
  }

  .separator {
    padding: 0 0.375rem;
  }
}
