{%- set title = siteConfig.site.title -%}
{%- set defaultLanguage = siteConfig.site.language -%}
{%- set navPages = collections.all | eleventyNavigation -%}

<div class="main-nav">
  <div class="site-logo">
    <a href="/" title="{{ title }} - {{ phrases.main_page }}">
      {% include "partials/header/site-logo.njk" %}
    </a>
  </div>
  <ul class="site-links">
  {% for item in navPages %}
  <li{% if item.url === page.url %} class="active" aria-current="page"{% endif %}>
    {% if item.language and item.language !== defaultLanguage %}
    <a href="{{ item.url }}" hreflang="{{ item.language }}" {% if item.language and item.language !== defaultLanguage %}lang={{ item.language }}{% endif %}>
      {{ item.key }} {% if item.language-%}{% include "svg/translation.svg" %}{% endif %}
    </a>
    {% else %}
    <a href="{{ item.url }}">
      {{ item.key }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</div>
