.container {
  width: 100%;
  margin: 0 auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

footer .container {
  margin-top: 0;
}

article {
  overflow: auto;
}

@include aboveMediumBreakpoint {
  .container {
    max-width: 32rem;
    padding-right: 0;
    padding-left: 0;
  }
}

@include belowMenuBreakpoint {
  .container {
    margin-top: 5rem;
  }
}

@include biggerThanMobile {
  .container {
    max-width: 43rem;
  }
}
