---
permalink: /pdf/pdf-content.html
---

{%- set intro = collections.questionDataObject["wstep"] -%}

<html dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>{{ siteConfig.translation.title }}</title>
  <style>
    body, body *, p, li {
      font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
      color: #000;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: PT Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, SF Pro, Helvetica, Arial, Noto Sans, sans-serif;
      font-weight: 700;
    }

    h1 {
      font-size: 36px;
      margin-top: 42px;
      margin-bottom: 42px;
      font-weight: bold;
    }

    h2, h3 {
      font-weight: bolder;
    }

    li a,
    p a {
      color: #005581;
    }

    h1 a,
    h2 a {
      text-decoration: none;
      color: #000;
    }

    .breakBefore {
      page-break-before: always;
    }

    .breakAfter {
      page-break-after: always;
    }

    .avoidBreakAfter {
      page-break-after: avoid;
    }

    h3 {
      font-size: 28px;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    pre, code, kbd {
      line-height: initial;
      font-family:monospace;
    }

    p,
    li {
      font-size: 16px;
      line-height: 1.6;
    }

    img {
      max-width: 100%;
    }

    img.cover {
      max-width: 75%;
      display:block;
      margin: 0 auto;
    }
    .article-title {
      page-break-before: always;
    }
  </style>
</head>
<body>
  {% include "offline-partials/cover.njk" %}
  {%- set license -%}{% include "offline-partials/license.njk" %}{% endset %}
  <h1 id="legal">Legal</h1>
  {%- set legal -%}{% include "offline-partials/legal.njk" %}{% endset %}
  {%- set tableOfContents -%}{% include "offline-partials/pdf/table-of-contents.njk" %}{%- endset -%}
  {{ license|safe }}
  {{ legal|safe }}
  {{ tableOfContents|safe }}
  {%- for post in collections.publishedEnglishPosts|reverse %}
  <h1 class="article-title" id="{{ post.data.title|slugify }}">{{ post.data.title|safe }}</h1>
  {%- include "offline-partials/disclaimer.njk" -%}{%- include "offline-partials/translation.njk" -%}{{ post.templateContent|productionLinks|safe }}
  {%- endfor -%}
</body>
</html>