---
permalink: /api/latest.json
eleventyExcludeFromCollections: true
---

{%- for post in collections.publishedInEnglishOrForcedPosts|limit(1) -%}
{
  "title": "{{ post.data.title }}",
  "url": "{{ post.url | alwaysProductionUrl }}",
  "date": "{{ post.date | dateToRfc3339 }}"
}
{%- endfor -%}