  {%- set site = siteConfig.site -%}
  {%- set author = siteConfig.author -%}
  
  <div class="copyright">
    &copy; {{ site.startYear }}-{% currentYear %} <a href="{{ author.url }}">{{ author.name }}</a><br>
    {{ phrases.powered_by }} <a href="{{ site.generator.url }}">{{ site.generator.name }}</a>
    {{ phrases.meta_separator }}
    {{ phrases.template }}: <a href="{{ site.template.url }}">{{ site.template.name }}</a> {{ phrases.by }} <a href="{{ site.template.credit.url }}">{{ site.template.credit.name }}</a>
  </div>