<div style="margin:0 auto; text-align:center">
  <img src="/icon-512.png" class="skip-conversion" alt="Logo" /></div>
  <h1 style="text-align:center; text-transform: uppercase">{{ siteConfig.site.title }}</h1>
  <h2 style="text-align:center;page-break-after:always">{{ siteConfig.site.description }}</h2>
</div>