<strong>{{ siteConfig.site.title }} — {{ siteConfig.site.url }}</strong>
<p>&copy; {{ siteConfig.site.startYear }}-{% currentYear %} {{ siteConfig.author.name }}</p>
<p>Last update: {{ collections.publishedPosts | getNewestCollectionItemDate | readableDate }}.</p>
<p>You can download up-to-date copy of this file from <a href="{{ '/offline/' | alwaysProductionUrl }}">{{ '/offline/' | alwaysProductionUrl }}</a></p>
<h2>Content license</h2>
<p>Unless specified otherwise, this work is licensed as Creative Commons Attribution 4.0 International.</p>
<p><a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>
<p>You are free to:</p>
<ul><li><b>Share</b> — copy and redistribute the material in any medium or format
<li><b>Adapt</b> — remix, transform, and build upon the material</ul>
<p>for any purpose, even commercially, under the following terms:</p>
<ul><li><b>Attribution</b> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li></ul>
<p>No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.</p>
<h2>Code license</h2>
<p>Unless specified otherwise, any code included in this work is licensed as MIT.</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>