{%- if post.data.translation and post.data.original -%}&lt;p&gt;&lt;b&gt;{{ phrases.disclaimer }}:&lt;/b&gt; {{ phrases.this_is_translation_of }} &lt;a href=&quot;{{ post.data.original.url }}&quot;&gt;{{ post.data.original.title }}&lt;/a&gt; by {{ post.data.original.author.name }}.&lt;/p&gt;{%- endif -%}