---
layout: base
---

<article class="single-article"{% if language !== defaultLanguage %} lang="{{ language }}"{% endif %}>
  <header>
    <h1>{{ title }}</h1>
  </header>
  {% include "partials/post/top-meta.njk" %}
  {% include "disclaimers/disclaimer.njk" %}
  {% include "disclaimers/translation.njk" %}
  {{ content | safe }}
</article>

{% include "partials/post/author-info.njk" %}
{% include "partials/post/bottom-meta.njk" %}
{% include "partials/post/navigation.njk" %}
{% include "partials/scroll-up-arrow.njk" %}