{% set pageDescription %}
  {% if description %}
    {{ description | truncate(140) }}
  {% else %}
    {{ siteConfig.site.description }}
  {% endif %}
{% endset %}
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ siteConfig.site.description }}{% endif %}">