<meta property="og:url" content="{{ page.url | alwaysProductionUrl }}">
<meta property="og:type" content="{{ ogCardType }}">
<meta property="og:image" content="{{ ogImage }}">
<meta property="twitter:image" content="{{ ogImage }}">
<meta property="twitter:card" content="{{ twitter.card }}">