---
title: Archive
description: All posts published since the start of of the blog back in 2020.
eleventyNavigation:
  key: Archive
  order: 2
---

<h2 id='chronological-archive'>Chronological archive</h2>

<p>Click on selected year to view articles from that period.</p>

{% include "partials/archive.njk" %}

{% include "partials/tag-list.njk" %}