---
title: Subscribe
description: Follow this blog to get notified whenever new article is published.
eleventyNavigation:
  key: Subscribe
  order: 3
---

<p>Subscribe to <strong>{{ siteConfig.site.title }}</strong> to get updates whenever a new article is published.</p>

{% include "partials/feed-list.njk" %}
