---
title: Subscribe
description: Follow Offbeat Bits to get notified whenever new article is published.
eleventyNavigation:
  key: Subscribe
  order: 1
---

<p>Subscribe to <strong>{{ siteConfig.site.title }}</strong> to get updates whenever new article is published.</p>

<p>More delivery channels may appear in the future.</p>

{% include "partials/feed-list.njk" %}
