---
permalink: "{{ siteConfig.feed.excerpts.path }}"
eleventyExcludeFromCollections: true
---
{%- set outputFilePath = siteConfig.feed.excerpts.path -%}
{%- set postLimit = siteConfig.feed.excerpts.limit -%}
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="{{ siteConfig.feed.stylesheet.url | htmlBaseUrl }}" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
{%- include "partials/feeds/rss/feed-meta.njk" %}
{%- for post in collections.publishedPosts|limit(postLimit) -%}
{%- set absolutePostUrl -%}{{ post.url | alwaysProductionUrl }}{%- endset -%}
<entry>
{%- include "partials/feeds/rss/entry-meta.njk" -%}
<content type="html">
{%- include "partials/feeds/disclaimer.njk" -%}&lt;p&gt;{%- excerpt post -%}&lt;/p&gt;{%- include "partials/feeds/keep-reading.njk" -%}
</content>
</entry>
{%- endfor -%}
</feed>