<ul class="archive">
  {% for yearlyArchive in collections.publishedPosts | groupByYear %}
    <li>
      <h3 tabindex='0' class="year-heading" id="year-{{ yearlyArchive.year }}">
        {% emoji "▼", "arrow" %} <time>{{ yearlyArchive.year }}</time>
      </h3>
      <ul class="list posts-{{ yearlyArchive.year }}"> 
      {% for post in yearlyArchive.posts %}
        <li class="post">
          <time>{{ post.date | archivePageDate }}</time>
          <a href="{{ post.url }}" {% if post.data.language !== siteConfig.site.language %}hreflang="{{  post.data.language }}" lang="{{ post.data.language }}"{% endif %}>
            <span>
              {{ post.data.title }} {% if post.data.language == "pl" %}{% include "svg/translation.svg" %}{% endif %}
            </span>
          </a>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>