{% include "partials/head/common.njk" %}
{% include "partials/head/title.njk" %}
{% include "partials/head/styles.njk" %}
{% include "partials/head/scripts.njk" %}
{% include "partials/head/service-worker.njk" %}
{% include "partials/head/description.njk" %}
{% include "partials/head/canonical.njk" %}
{% include "partials/head/manifest.njk" %}
{% include "partials/head/generator.njk" %}
{% include "partials/head/rss.njk" %}
{% include "partials/head/json.njk" %}
{% include "partials/head/opengraph.njk" %}
{% include "partials/head/fediverse.njk" %}
{% include "partials/head/json-ld.njk" %}
