{%- set wordCount -%}{{ post.templateContent | striptags | wordcount }}{%- endset -%}
{%- set readingTime -%}{{ wordCount | readingTimeMin }}{%- endset -%}
{%- set postDate -%}{{ post.data.date|readableDate }}{%- endset -%}
<a href="{{ post.url }}">
  <article>
    <header>
      <h2 class="post-title">{{ post.data.title }}</h2>
    </header>
    <div class="excerpt"> 
      {% excerpt post %}
    </div>
    <div class="post-meta">
        <time>{{ postDate }}</time>
        <span class="separator">{{ phrases.meta_separator }}</span>
        <span class="reading-time" title="{{ wordCount }} {{ phrases.words }}">{{ readingTime }} {{ phrases.min }} {{ phrases.read }}</span>        
    </div>
  </article>
</a>